@if (vm$ | async; as vm) {
  <section class="flex justify-center p-4">
    <form
      class="flex min-h-80 w-full max-w-sm flex-col gap-4 rounded-md border border-solid border-neutral-500 p-4"
      [formGroup]="profileForm">
      @if (vm.loading) {
        <section class="flex size-full items-center justify-center">
          <mat-spinner [strokeWidth]="4"></mat-spinner>
        </section>
      } @else {
        @if (vm.user; as user) {
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              matInput
              formControlName="firstName"
              placeholder="Enter your first name" />
            @if (
              profileForm.get('firstName')?.invalid &&
              profileForm.get('firstName')?.touched
            ) {
              <mat-error> First Name is required </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              formControlName="lastName"
              placeholder="Enter your last name" />
            @if (
              profileForm.get('lastName')?.invalid &&
              profileForm.get('lastName')?.touched
            ) {
              <mat-error> Last Name is required </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              formControlName="email"
              placeholder="Enter your email" />
            @if (
              profileForm.get('email')?.invalid &&
              profileForm.get('email')?.touched
            ) {
              <mat-error> A valid email is required </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Phone Number (Optional)</mat-label>
            <span matTextPrefix>+ &nbsp;</span>
            <input
              matInput
              type="text"
              formControlName="phoneNumber"
              placeholder="Enter your phone number" />

            @if (profileForm.get('phoneNumber')?.hasError('minlength')) {
              <mat-error>
                Phone number must be at least 9 digits long.
              </mat-error>
            }

            @if (profileForm.get('phoneNumber')?.hasError('maxlength')) {
              <mat-error>
                Phone number cannot be more than 15 digits long.
              </mat-error>
            }

            @if (profileForm.get('phoneNumber')?.hasError('pattern')) {
              <mat-error> Only numbers are allowed in phone number. </mat-error>
            }
          </mat-form-field>

          <section class="my-4">
            <app-file-upload
              formControlName="profilePicture"
              [requiredFileType]="'image/*'" />
          </section>

          <app-button
            [label]="'Save'"
            [disabled]="profileForm.invalid"
            (click)="onSubmit(user.id)" />
          <app-button
            [label]="'Cancel'"
            [type]="'warn'"
            [icon]="'keyboard_arrow_left'"
            [iconPosition]="'left'"
            [routerLink]="'/user-profile'" />
        }

        @if (vm.error; as error) {
          <p
            class="my-4 flex size-full items-center justify-center rounded-md border-2 border-solid border-red-500 p-4  bg-red-500 text-white font-semibold">
            {{ error }}
          </p>
        }
      }
    </form>
  </section>
}
